<div class="row">
<div class="col-md-8">
<div class="page-header">
  <h1>記事一覧</h1>
</div>
</div>
</div>

<div class="row">
<div class="col-md-8">
<div class="postcell">
  <div class="title"><%= @nikki.created_at.strftime("%Y-%m-%d %H:%M:%S") %>  <%= @nikki.title %></div>
  <div class="body"><%= @nikki.description %></div>
</div>
</div>

<div class="col-md-4">
<%= link_to '日記を消す', nikki_path(@nikki), class: 'btn btn-danger btn-block', method: :delete, data: { confirm: '本当に削除しますか？' } %>
</div>
</div>
