/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.navbar-brand {
	font-family: cursive;
}
table.contents {
  border-collapse: separate;
  border-spacing: 0px 15px;
  font-size: 15px;
}
table.contents th,
table.contents td {
  padding: 10px;
}
table.contents th {
  background: #008697;
  vertical-align: middle;
  text-align: left;
  width: 100px;
  overflow: visible;
  position: relative;
  color: #fff;
  font-weight: normal;
}
table.contents td {
  background: #f8f8f8;
  width: 400px;
  padding-left: 20px;
}
