/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  word-break: break-all;
}
div.devise-error {
  height: 92px;
  width: 350px;
}
.btn.btn-success {
  background-color: #8b0000;
}
.btn.btn-info {
  background-color: #556b2f;
}
.btn.btn-warning {
  background-color: #ffa500;
}
.btn.btn-success:hover {
  opacity: 0.8;
}
.btn.btn-info:hover {
  opacity: 0.8;
}
.btn.btn-warning:hover {
  opacity: 0.8;
}
