/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.navbar-brand {
	font-family: cursive;
}
table.contents {
    border-collapse: separate;
    border-spacing: 0px 15px;
    font-size: 12px;
}
table.contents th,
table.contents td {
  padding: 10px;
}
table.contents th {
  background: #295890;
  vertical-align: middle;
  text-align: left;
  width: 100px;
  overflow: visible;
  position: relative;
  color: #fff;
  font-weight: normal;
  font-size: 15px;
}
table.contents th:after {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-width: 10px;
  margin-top: -10px;
}
/* firefox */
@-moz-document url-prefix() {
  table.contents th::after {
    float: right;
    padding: 0;
    left: 30px;
    top: 10px;
    content: " ";
    height: 0;
    width: 0;
    position: relative;
    pointer-events: none;
    border: 10px solid transparent;
    border-left: #295890 10px solid;
    margin-top: -10px;
  }
}
table.contents td {
  background: #f8f8f8;
  width: 360px;
  padding-left: 20px;
}
